/**
 * あみだくじ
 * css
 */

.amida {
	padding-left:40px;
}

.inputs {
	float: left;
	margin-left: 5px;
}

.inputs input {
	margin: 2px;
}

#text_entry {
	width: 10em;
}

#btn_entry {
}

#sel_entry {
	width: 10em;
}

#btn_remove {
}

#btn_clear {
}

.make {
	display: block;
	margin: 10px 5px;
	clear: both;
}

#btn_make {
	width: 200px;
}

#alter_count {
	display: block;
	font-size: 9pt;
	width: 4em;
	height: 1.2em;
	margin-left: 5px;
	padding: 0.1em;
	text-align: right;
	color: blue;
	border: 1px solid black;
	background-color: #eee;
}

#amida_screen {
	background-color: white;
	padding: 20px;
}

#amida_table {
	border-collapse: separate;
	border-spacing: 0px;
	/*border-collapse: collapse;*/ /*にすると，Firefoxで正しく描画されない*/
	empty-cells: show;
}

td {
	margin: 0px;
	padding: 0px;
	border: 0px solid;
	height: 15px;
}

td.pole {
	border-left: 1px solid black;
}

td.bordered {
	border-bottom: 1px solid black;
}

td.rooting_l {
	border-left: 2px solid red;
}

td.rooting_b {
	border-bottom: 2px solid red;
}

#amida_head th {
	text-align: left;
	vertical-align: top;
	height: 30px;
}

#amida_foot th {
	text-align: left;
	vertical-align: top;
	color: white;
}

#usage {
	width: 600px;
	margin-left: 40px;
	padding: 1em;
	font-size: 10pt;
	background-color: #f2f2ea;
}

#usage .note {
	text-indent: -1em;
	margin-left: 1em;
}